<ion-header>
  <ion-toolbar class="custom-toolbar-1">
    <div class="header-image-wrapper">
      <img src="./assets/images/blueImg.png" class="header-image">
      <div class="header-text">UTN SUBD</div>
      <div class="sub-header-text">Presente su QR al lector</div>
    </div>
  </ion-toolbar>
  <div *ngIf="errorMessage != ''" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage != ''" class="alert alert-success" role="alert">
    {{ successMessage }}
  </div>
  <p *ngIf="debugMsg != ''" class="alert alert-warning" role="alert">
    {{ debugMsg }}
  </p>
  <!-- <ion-button (click)="simulateGetOut()">test: getOut</ion-button>
  <ion-button (click)="simulateGetIn()">test: getIn</ion-button>
  <ion-button (click)="simulateBigGetIn()">test: BigGetIn</ion-button> -->
  <!-- <div>
    <p>scanned result:</p>
    <p>{{ scannedResult }}</p>
  </div> -->
</ion-header>
