<ion-header>
  <ion-toolbar>
    <ion-grid style="background-color: rgb(78, 172, 253);">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" [routerLink]="['/home']">
          <img src="./assets/images/backArrow.png" class="icon">
        </ion-col>
        <ion-col size="10">
          <ion-title class="ion-text-left bold-text">Pagar boleto - NFC</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <div class="header-image-wrapper">
    <img src="./assets/images/blueImg.png" class="header-image">
    <div class="header-text">UTN SUBD</div>
    <div class="header-bottom-text">
      <!-- borraaaaaaaaaaaaaaaaaaaaar -->
      <div class="left-text" *ngIf="user === null">
        <p class="highlighted-text">errorAerror.com</p>
      </div>
      <div class="right-text" *ngIf="user === null">
        <p class="highlighted-text">$error</p>
      </div>
      <div class="left-text" *ngIf="user != null">
        <p class="highlighted-text">{{ user.userEmail }}</p>
      </div>
      <div class="right-text" *ngIf="user != null">
        <p class="highlighted-text">${{ user.balance }}</p>
      </div>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="errorMessage != ''" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage != ''" class="alert alert-success" role="alert">
    {{ successMessage }}
  </div>

  <ion-grid>
    <ion-row *ngIf="isNfcAvailable">
      <ion-col size="12">
        <p class="bold-text larger-text">Acerque el telefono al lector</p>
      </ion-col>
    </ion-row>
    
    <div class="separator"></div>

    <ion-row class="ion-align-items-center">
      <ion-col size="9">
        <p class="bold-text">¿Invitar a alguien?</p>
      </ion-col>
      <ion-col size="3">
        <ion-toggle (ionChange)="onToggleChange($event)"></ion-toggle>
      </ion-col>
    </ion-row>


    <!-- nfc para invitado -->
    <form 
      *ngIf="toggleValue === true"
      [formGroup]="NfcGuestForm"
      (ngSubmit)="generateNfcTicketForGuest()"
      >
      <ion-row>
        <ion-col size="12">
          <ion-label position="floating">Dni del invitado</ion-label>
            <ion-input 
              formControlName="guestDni"
              type="text"
              placeholder="DNI: 10000000" 
              class="input-field"
              ></ion-input>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label position="floating">Email del invitado</ion-label>
            <ion-input 
              formControlName="guestEmail"
              type="email"
              placeholder="Email: correo@hotmail.com" 
              class="input-field"
              ></ion-input>
          
        </ion-col>
      </ion-row>      
      <ion-row>
        <ion-col size="12">
          <ion-button 
            type="submit"
            expand="full" 
            class="submit-button"
            [disabled]="NfcGuestForm.invalid"
            >NFC de pago para invitado</ion-button>
        </ion-col>
      </ion-row>
      <div *ngIf="guestEmail?.invalid && (guestEmail?.touched || guestEmail?.dirty)">
        <div *ngIf="guestEmail?.errors?.['email']" class="alert alert-danger" role="alert">
          Email: formato invalido (ejemplo&#64;gmail.com).
        </div>
      </div>
      <div *ngIf="guestDni?.invalid && (guestDni?.touched || guestDni?.dirty)">
        <div *ngIf="guestDni?.errors?.['required']" class="alert alert-danger" role="alert">
          DNI: requerido.
        </div>
        <div *ngIf="guestDni?.errors?.['minLength'] || guestDni?.errors?.['maxLength']" class="alert alert-danger" role="alert">
          DNI: solo 8 caracteres ej: (10000000).
        </div>
        <div *ngIf="guestDni?.errors?.['pattern'] " class="alert alert-danger" role="alert">
          DNI: solo numeros.
        </div>
      </div>
    </form>


    <!-- nfc propio -->
    <ion-row *ngIf="toggleValue === false">
      <ion-col size="12">
        <!-- *ngIf="nfcDataString == ''" -->
        <ion-button 
          (click)="generateNfcTicket()"
          expand="full" 
          class="submit-button"
          >Activar NFC de pago</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid style="background-color: rgb(201, 230, 255);">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" [routerLink]="['/home']">
          <img src="./assets/images/backArrow.png" class="icon">
        </ion-col>
        <ion-col size="10" [routerLink]="['/home/get-out']">
          <p class="bold-text">Bajar</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
